<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rajat.projectm">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Project M"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme,android:label">

        <!-- <activity android:name=".WelcomeActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".LoginActivity"
            android:theme="@style/PartyTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="portrait"
            android:label="Student Homepage"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Signupmain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Question"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_question"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".QuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetQuestion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FourButtonsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetStudyMaterial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MaterialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SampleFragment1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MaterialContent"
            android:screenOrientation="portrait" ></activity>
        <activity
            android:name=".Feedback"
            android:label="@string/title_activity_feedback"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>